@import "../../App.sass"

.experience_wrapper_div
    border-style: solid
    border-color: transparent
    background: #efefef
    @include displayJustifyAlign(flex, center, flex-start)
    @media screen and (max-width: 768px)
        flex-direction: column
        align-items: center
    
    .skills_label__container,
    .timeline_column
        width: 50%
        @include displayJustifyAlign(flex, center, center)
        @media screen and (max-width: 768px)
            width: 100%

    .skills_label__container
        img
            align-items: center
            animation: floating 5s linear infinite alternate-reverse
            @media screen and (max-width: 360px)
                width: 100%

    .timeline_column
        flex-direction: column
        time
            display: block
            width: 100px
            text-align: left
            font-weight: $semiBold
            font-size: $extraSmallFont

        .experience_item_wrapper
            .experience_item
                position: relative
                float: left
                border-left: 2px solid $fadeLight

                .timeline_circle
                    position: absolute
                    top: 16px
                    left: -13px
                    display: block
                    @include setWidthHeight(25px, 25px)
                    border-radius: 50%
                    background: #ac75e9
                .two
                    background: #4ab25d

                .timeline_img
                    float: left
                    @include setWidthHeight(64px, 64px)
                    @include textBgEffect
                    &:hover ~ #first a,
                    &:hover ~ #first .timeline_role_title,
                    &:hover ~ #second a,
                    &:hover ~ #second .timeline_role_title
                        background-size: 100% 2px !important

                .timeline_info
                    margin-left: 10rem
                    a
                        color: unset
                        margin-top: $smallMargin
                        font-weight: $semiBold
                        @include resetTextDecoration
                        @include textBgEffect
                        &:hover
                            @include textHover
                    p
                        font-weight: $semiBold
                        font-size: 14px

                #first a
                    color: #ac75e9

                #second a
                    color: #4ab25d
