@import "../../App.sass"

.blog_container_div
    background: #efefef

    .blog_item
        border-radius: 1rem

        a
            display: flex
            justify-content: space-between
            align-items: center
