// Variables
// Font sizes
$standardFont: 1rem
$extraSmallFont: 10px
$smallFont: 14px
$medFont: 1.25rem
$semilargeFont: 1.5rem
$largeFont: 1.75rem

// Font weight
$lightBold: 500
$semiBold: 700
$bold: 900

// Colors
$primary: #e77200
$secondary: #94CF96
$darkModeBg: #2e386a
$lightModeBg: #fff
$highlight: #F9AC19
$lightFont: #efefef
$fadeLight: #dcd9cd
$darkFont: #222
$grayFont: #3c3b3f
$lightGray: #555
$fadeGray: #888
$blue: #0B4E91
$danger: #D6535A
$boxShadow: rgba(100, 100, 111, 0.5) 0px 7px 30px 0px
$boxShadowHover: rgba(231, 89, 0, 0.25) 0px 13px 27px -5px,rgba(231, 89, 0, 0.3) 0px 8px 16px -8px

// Margins and paddings
$standardPadding: 0.5rem
$smallPadding: 0.25rem
$medPadding: 0.75rem
$largePadding: 1rem

$standardMargin: 0.5rem
$smallMargin: 0.25rem
$medMargin: 0.75rem
$largeMargin: 1rem

$minOpacity: 0
$lowOpacity: 0.25
$standardOpacity: 0.5
$highOpacity: 0.75
$maxOpacity: 1

$transition: all 0.4s

// Mixins
@mixin resetStyle
    margin: 0
    padding: 0

@mixin resetTextDecoration
    text-decoration: none
    list-style: none

@mixin resetBorder
    border: none
    outline: 0

@mixin inheritColors
    color: inherit
    background: inherit
    

@mixin setWidthHeight($width, $height)
    width: $width
    height: $height
    
@mixin displayJustifyAlign($display, $justify, $align, $wrap: unset)
    display: $display
    justify-content: $justify
    align-items: $align
    flex-wrap: $wrap
    
@mixin displayGridColRow($display, $columns, $rows)
    display: $display
    grid-template-columns: $columns
    grid-template-rows: $rows

@mixin textBgEffect
    background-image: linear-gradient(90deg, #e77200, #e77200)
    background-size: 0% 1px
    background-repeat: no-repeat
    background-position: left bottom
    transition: 500ms ease
@mixin textHover
    background-size: 100% 2px

@mixin allButtonStyle
    padding: $medPadding $largePadding
    margin: 0 5px
    box-shadow: $boxShadow
    border: 1px solid #ff8000
    transition: $transition
    opacity: $maxOpacity
    @include inheritColors
    @include resetTextDecoration
    &:hover
        text-decoration: none
        box-shadow: rgba(231, 89, 0, 0.25) 0px 13px 27px -5px,rgba(231, 89, 0, 0.3) 0px 8px 16px -8px
        border: 1px solid #FBEBD7

// Dark mode
.dark_mode 
    background: #2e386a
    color: #eee
    .pop-up, .project_div, .loader_container
        background: #2e386a
        box-shadow: 0 2px 10px rgba(239, 239, 242,.25), 0 -1px 2px rgba(239, 239, 242,.08)
    .projects_section
        background: #29325F

// Global styling
* 
    scroll-behavior: smooth
    box-sizing: border-box
    font-family: "Charlie Text", sans-serif

body
  overflow-x: hidden

html
    &::-webkit-scrollbar 
        width: 1rem
    &::-webkit-scrollbar-track 
        background: transparent
    &::-webkit-scrollbar-thumb 
        background: #f5c392
    overflow-x: hidden
        
hr 
    width: 75% !important
    height: 1rem !important
    opacity: $lowOpacity !important
    margin: $largeMargin auto !important

.all_button
    box-shadow: $boxShadow
    @include resetBorder
    @include allButtonStyle
    
a 
    color: unset !important

h1,
h2,
h3 
    font-weight: $semiBold !important

h1
    font-size: $largeFont

h2
    font-size: $semilargeFont

h3
    font-size: $medFont

.standard_text
    font-size: 18px

.small_text
    font-size: 20px

.medium_text
    font-size: 24px

.large_text
    font-size: 28px

.heading2
    font-size: 3rem
    background: -webkit-linear-gradient(270deg, #8187a5, #ff8000,#e77200,#f0a150)
    -webkit-text-stroke: 2px transparent
    letter-spacing: 1px
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    @media screen and (max-width: 680px)
        font-size: 2.5rem
        -webkit-text-stroke: 1px transparent

.default_padding
    padding-top: 45px

.active-link 
    opacity: $standardOpacity
    color: $primary !important
    pointer-events: none

.skills_section,
.career_highlights_section,
.projects_section,
.blog_section
    padding-top: $largePadding*3

.skills_section,
.career_highlights_section,
.projects_section,
.blog_section
    @media screen and (min-width: 1500px)
        max-width: 1500px
        margin: auto

a.nav_link
    @include textBgEffect

a.nav_link:hover
    @include textHover

