// Variables
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700;900&family=Poppins:wght@400;500;600;700;900&family=Source+Sans+Pro:wght@400;600;700;900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Hind+Madurai:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap')
    
// Font sizes
$standardFont: 1rem
$extraSmallFont: 12px
$smallFont: 14px
$largeFont: 1.75rem

// Font weight
$lightBold: 500
$semiBold: 700
$bold: 900

// Colors
$primary: #ff8c1b
$link: #e77200
$secondary: #94CF96
// $darkModeBg: #2e386a
$darkModeBg: #2f2f2f
$fadeLight: #dcd9cd
$darkFont: #222
$danger: #D6535A

// Margins and paddings
$standardPadding: 0.5rem
$smallPadding: 0.25rem
$medPadding: 0.75rem
$largePadding: 1rem

$standardMargin: 0.5rem
$smallMargin: 0.25rem
$medMargin: 0.75rem
$largeMargin: 1rem

$lowOpacity: 0.25
$maxOpacity: 1

$transition: all 0.4s

// Mixins
@mixin resetStyle
    margin: 0
    padding: 0

@mixin resetTextDecoration
    text-decoration: none
    list-style: none

@mixin resetBorder
    border: none
    outline: 0

@mixin inheritColors
    color: inherit
    background: inherit
    

@mixin setWidthHeight($width, $height)
    width: $width
    height: $height
    
@mixin displayJustifyAlign($display, $justify, $align, $wrap: unset)
    display: $display
    justify-content: $justify
    align-items: $align
    flex-wrap: $wrap
    
@mixin displayGridColRow($display, $columns, $rows)
    display: $display
    grid-template-columns: $columns
    grid-template-rows: $rows

@mixin textBgEffect
    background-image: linear-gradient(90deg, #ff8c1b, #ff8c1b)
    background-size: 0% 1px
    background-repeat: no-repeat
    background-position: left bottom
    transition: 500ms ease
@mixin textHover
    background-size: 100% 2px

@mixin allButtonStyle
    @include resetTextDecoration
    padding: $smallPadding $medPadding
    color: $darkFont
    margin: 0
    border: 1px solid $darkFont
    border-radius: 100px
    box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 0px 0px
    background: #ff8c1b
    background: -webkit-linear-gradient(to right, #ff8c1b, #FBAB7E)  
    background: linear-gradient(to right, #ff8c1b, #FBAB7E) 
    transition: $transition
    opacity: $maxOpacity
    &:hover
        text-decoration: none
        color: #224EFD

// End of Mixins

// Dark mode Styling
.dark_mode
    background: $darkModeBg
    color: #ddd
    .hero_section,
    .about_section,
    .career_section_wrapper,
    .loader_container,
    .about_container,
    .work_history_div,
    .skills_item
        background: $darkModeBg !important

    // border in dark_mode
    .hero_section
        border: 1px solid #555
        border-top: none

    .about_container, .work_history_div
        border-top: 1px solid #555
        border-bottom: 1px solid #555

    .skills_item
        border: 1px solid #555
    
    // gradient_text in dark mode
    .dark_mode_gradient_text
        font-weight: 700
        background: #ff8c1b
        background: linear-gradient(to right, #ff8c1b 0%,#f6d365 50%, #fda085 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent

// End of Dark Mode Styling

// Global styling
* 
    scroll-behavior: smooth
    box-sizing: border-box
    font-weight: 400
    font-family: 'Archivo', sans-serif

body, html
    overflow-x: hidden
    width: 100%
    @media screen and (min-width: 1500px)
        max-width: 1500px
        margin: auto !important

h1,
h2,
h3 
    font-weight: $semiBold !important

h1
    font-size: 1.75rem

h2
    font-size: 1.5rem

h3
    font-size: 1.25rem

.standard_text
    font-size: 18px

.small_text
    font-size: 20px

.medium_text
    font-size: 24px

.heading
    font-size: 2rem
    font-weight: 800 !important
    font-family: "Space Grotesk", sans-serif

.light_mode_gradient_text
    font-weight: 700
    color: #333
    background: #555
    background: -webkit-linear-gradient(to top, #434343, #555)
    background: linear-gradient(to top, #434343, #555)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent


.all_button
    @include resetBorder
    @include allButtonStyle

// End of Global styling

// General Styling
a.nav_link
    @include textBgEffect

a.nav_link:hover
    @include textHover

.skills_item
    display: inline-block
    padding: 0.5rem 1rem
    margin: 0.25rem
    background: #fff !important
    border-radius: 100px
    border: 1px solid #555
    border-color: transparent
    @media screen and (max-width: 500px)
        font-size: 18px
    @media screen and (max-width: 320px)
        font-size: 15px

.flowing_underline
    padding-bottom: 8px
    background-image: repeating-linear-gradient(-45deg,#ffb400,#e77200 1px, transparent 0, transparent 12px),repeating-linear-gradient(45deg,#ffb400,#ffb400 1px, transparent 0, transparent 12.2px)
    background-position: 0 100%, 2px 100%
    background-size: 15px 10px
    background-repeat: repeat-x
    animation: 0.8s infinite normal underline_flow_animation
    animation-timing-function: linear

    @keyframes underline_flow_animation 
        0% 
            background-position-x: 0, 2px
        100% 
            background-position-x: 17px, 19px

// End of General Styling




    
