@import "../../App.sass"
    
.footer_div_wrapper
    strong
        line-height: 1
        span
            background: linear-gradient(90deg, #555 0%, #cd6804 100%)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
        &::before
            content: "\201C"
            font-size: 5rem
